* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 10px 20px;
  color: white;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
nav{
  position: relative;
  z-index: 10;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 10;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background-color: #535151;
    position: absolute;
    top: 60px;
    padding-top: 110px;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .nav-links.active {
    display: flex; 
  }

  .menu-icon {
    display: block; 
  }
}


