* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ac6304;
  padding: 10px 20px;
  color: white;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
nav{
  position: relative;
  z-index: 10;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 10;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: url('../images/unnamed\(1\).jpg') no-repeat center/cover;
    color: white;
}

header nav {
    padding: 20px 40px;
    text-align: right;
}

header nav ul {
    list-style: none;
    display: inline-flex;
    gap: 25px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;
}

.content {
    max-width: 380px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.input-box i {
    margin-right: 10px;
}

.input-box select {
    width: 100%;
    border: none;
    outline: none;
    background: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.btn{
    background: orange;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover {
    background: rgb(252, 138, 45);
}
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.result {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background-color: #535151;
    position: absolute;
    top: 60px;
    padding-top: 110px;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .nav-links.active {
    opacity: 70%;
    display: flex; 
    
  }

  .menu-icon {
    display: block; 
  }
    .hero {
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
